.footer {
  background-color: rgb(244, 220, 186);
    color: black;
    padding: 40px;
    text-align: center;
  }
  
  .footer-logo {
    margin-bottom: 20px;
  }
  
  .footer-logo img {
    height: 75px;
    margin-bottom: 10px;
  }
  
  .footer-logo p {
    font-size: 1.2rem;
    color: #CA623E; 
  }
  
  .footer-contact {
    margin-bottom: 20px;
  }
  
  .footer-contact p {
    margin: 5px 0;
    color: #CA623E; 
  }
  
  .footer-links a {
    color: #CA623E; 
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
  }
  
  .footer-links a:hover {
    text-decoration: underline;
  }
  