.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #ffffff; */
    background-color: rgb(244, 220, 186);
    padding: 10px 20px 10px 20px;    ;
    font-family: Coolvetica, sans-serif ;
  }
  
  .logo img {
    height: 70px;
    padding-right: 25px;

  }
  
  .nav-menu ul {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .nav-menu ul li a {
    text-decoration: none;
    color: #333;
    /* font-weight: bold; */
    font-size: 25px;
  }
  
  .contact-info {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .social-icons a {
    color: #333;
    font-size: 25px;
    margin-left: 10px;
  }
  
  .social-icons a:hover {
    color: #CA623E;; /* Couleur de hover pour les icônes */
  }
  
  ul{

    padding-left: 0px;

}