.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(244, 220, 186);
  padding: 10px 20px;
  font-family: Coolvetica, sans-serif;
  border-bottom: 1px solid rgba(0, 0, 0, 0.313);
}

.logo img {
  height: 50px;
  padding-right: 25px;
  padding-left: 10px;
}

.nav-menu ul {
  list-style: none;
  display: flex;
  gap: 20px;
  transition: all 0.3s ease;
}

.nav-menu ul li a {
  text-decoration: none;
  color: #333;
  font-size: 25px;
}

.contact-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.social-icons a {
  color: #333;
  font-size: 25px;
  margin-left: 10px;
}

.social-icons a:hover {
  color: #CA623E;
}

ul {
  padding-left: 0px;
}




@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: center;
  }

  .nav-menu {
    width: 100%;
    overflow: hidden;
  }

  .nav-menu ul {
    flex-direction: column;
    gap: 10px;
    display: none;
    text-align: center;
  }

  .nav-menu ul.active {
    display: flex; 
    margin-top: 0px;
  }

  .nav-menu ul li a {
    font-size: 20px;
  }

  .toggle-button {
    background-color: transparent;
    border: none;
    font-size: 30px;
    cursor: pointer;
    color: #333;
    
  }

  .contact-info {
    display: none;
  }
}

@media (min-width: 769px) {
  .toggle-button {
    display: none; 
  }
}

