.rdv{
  padding: 50px;
  background-color:  rgba(244, 220, 186, 0.75);

}

.rdv-title {
  font-size: 2.25rem;
  text-align: center;
  margin-bottom: 30px;
  color: #333333;
  /* color: rgb(244, 220, 186); */
  font-family: Coolvetica, sans-serif;
  font-weight: lighter;
  margin-top: 0px;
  margin-bottom: 30px;

}

.rendezvous-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 700px;
    padding: 20px;
    /* background-color:  rgba(244, 220, 186, 0.427); */
  }
  
  .calendly-inline-widget {
    border: none; /* Supprime les bordures par défaut */
  }
  
  
  